<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900254912246-7pkbcjs8jqpn9ff9tssi8egqot8s0nt6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900254912246-7pkbcjs8jqpn9ff9tssi8egqot8s0nt6</string>
	<key>API_KEY</key>
	<string>AIzaSyCl7cGNocyxiBmAAU0Sbmbrxt7WuLRJRzE</string>
	<key>GCM_SENDER_ID</key>
	<string>900254912246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juno.drivers</string>
	<key>PROJECT_ID</key>
	<string>junoride-driver-f338b</string>
	<key>STORAGE_BUCKET</key>
	<string>junoride-driver-f338b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900254912246:ios:fca1307134fc19d528a6d7</string>
</dict>
</plist>