#include "Pods/Target Support Files/Pods-available_pods-JunoRide/Pods-available_pods-JunoRide.debug.xcconfig"


PROJECT_BUNDLE_ID = com.juno.driver
PROJECT_APP_VERSION = 1.1
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Juno Ride Pilot
PROJECT_PLIST =JunoRideInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
CODE_PUSH_KEY = 9In50ac7d39jIdCIrBe7gig345pUiuGdwzUHC

